@font-face {
	/* Include font to standardize ascii art across devices*/
    font-family: "Courier Prime";
    src: url(./fonts/CourierPrime) format("truetype");
}
@font-face {
    font-family: "Roboto Mono";
    src: url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}


html, body {
	margin: 0;
	padding: 0;
  	width: 100%;
	background-color: #f9f9f9
}

body {
  	font-family: "Roboto Mono";
	font-weight: 200;
  	font-size: clamp(8px, 3.5vmax, 24px);
	line-height: 125%;
  	color: #272727;
	display: flex;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	margin: auto;
	padding: 0;
}

p {
	margin: 24px;
}

a {
	color: #3271A7;
	text-decoration: none;
}

a:hover
{
	background-color: #fffead;
  	text-decoration: underline;
}

/* Most of outer, middle, and bodyWindow CSS is for vertical centering" */
#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#bodyWindow {
	margin: auto;
	text-align: center;
	align-content: center;

	background-color: #f9f9f9;
	max-width: 500px;
	width: 80%;
	padding: 16px;
}

#pic
{
	margin: auto;
	width: fit-content;
	font-size: clamp(0.5px, 0.5vmin, 1px);

	/* blackish background or you can't see shit */
	background-color: #0e1111;

	font-weight: bold;
	display: block;
	unicode-bidi: isolate;
	text-align: left;
}

#pic pre {
	font-size: clamp(0.5px, 0.5vmin, 2.5px);
	line-height: 1em;
	font-family: "Courier Prime Bold", monospace;
	white-space: pre;
	overflow: visible;
}

@media screen and (max-width: 768px) {
	#pic pre {
		/* iPhone uses box-based height, excluding "descenders" which ARE respected on other devices
		Standardize this to be consistent across devices.
		1.2 is just an approximation. */
		line-height: 1.2em;
	}
}



#content
{
	margin-top: 36px;
	margin-bottom: 16px;
}

#connect
{
  	text-align: center;
	line-height: 2em;
	width: 100%;
	font-size: clamp(8px, 3.0vmax, 24px);
}

#connect ul
{
	padding: 0;
	margin: 0.5em;
}

#connect li
{
  	display: inline;
	padding-left: 16px;
	padding-right: 16px;
}
