html, body {
	margin: 0;
	padding: 0;
  	width: 100%;
	/*background-color: #eaeaea;*/
	background-color: #f9f9f9
}

body {
  	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 3.5vh;
	line-height: 125%;
  	color: #455565;
	display: flex;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	margin: auto;
	padding: 0;
}

a {
	color: #3271A7;
}

pre {
	font-family: Courier, 'Courier New', monospace
}

a:hover
{
	color: #888;
}

/* Most of outter, middle, and bodyWindow CSS is for vertical centering" */
#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#bodyWindow {
	margin: auto;
	align-content: center;

	background-color: #f9f9f9;
	max-width: 750px;
}

#olCustom {
	padding-left: 10%;
	padding-right: 10%;
}

#olCustom p {
	margin-top: 0;
	margin-bottom: 0;
}

#main {
	margin: auto;
	width: 85%;
}

#main p {
	text-align: center;

	padding-left: 16px;
	padding-right: 16px;
}

#myPic 
{
	align-content: center;
	width: 100%;
}

#connect
{
  	text-align: center;
	line-height: 200%;
}

#connect ul
{
	padding-left: 16px;
	padding-right: 16px;
}

#connect li
{
  	display: inline;
  	padding-right: 50pt;
}

#connect li:last-child
{
  	padding-right: 0;
}

#connect a
{
  	text-decoration: none;
}

#connect a:hover
{
  	text-decoration: underline;
}